@import "./../abstracts/variables";
@import "./../abstracts/mixins";
.bgr {
	background-color: $eee-color;
	padding-top: 2rem;
	padding-bottom: 5rem;
	margin: 0;

	@include tablet {
		margin-top: 9em;
	}

	@include mobile-less {
		background-color: $white-color;
	}

	.all-product {
		background-color: #fff;
		padding: 1.5rem;

		@include mobile-less {
			padding: 0;
		}

		.group-control {
			padding-bottom: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px dashed $aaa-color;

			@include mobile-less {
				flex-direction: column;
				align-items: flex-start;
			}

			.breadcrumb-list {
				display: flex;
				font-size: 1.3rem;
				margin: 0;

				.break {
					margin: 0 1rem;
				}
			}

			.counter-search {
				font-size: 1.3rem;
			}

			.control-box {
				font-size: 1.3rem;
				box-shadow: 0 2px 5px $aaa-color;

				@include mobile-less {
					margin-top: 1rem;
				}

				.sort-price {
					width: 20rem;
					position: relative;

					@include mobile {
						width: 15rem;
					}

					&__title {
						display: flex;
						justify-content: space-between;
						padding: 0.5rem 1rem;
						cursor: pointer;

						i {
							margin-top: 4px;
						}
					}

					&__sub {
						position: absolute;
						background-color: $white-color;
						box-shadow: 0 2px 4px #ccc;
						width: 100%;
						padding: 0.5rem 1rem;
						border-top: 1px solid #eee;
						line-height: 2.5rem;
						display: none;
						z-index: 100;

						.ascending,
						.decrease {
							cursor: pointer;
							display: block;
							&:hover {
								color: $blue-main-color;
							}
						}
					}

					&:hover .sort-price__sub {
						display: block;
					}
				}
			}
		}
	}
}
