@mixin position($position) {
	@if ($position == "vertical") {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	} @else if ($position == "center") {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
