$blue-main-color: #007cc2;
$white-color: #fff;
$txt-color: #333;
$blue-2: #02659e;
$red-color: #ff0000;
$yellow-color: #ffd200;
$footer-color: #282828;
$aaa-color: #aaa;
$eee-color: #eee;
$ddd-color: #ddd;
$bbb-color: #bbb;
$red-deep-color: #d0021b;

// error form
.err-2 {
	border: 1px solid #da542e;
}
.error-select {
	color: #da542e;
	font-size: 1.3rem;
	margin-top: 5px;
}
